@import 'tailwindcss';


/* Ensure the app takes up the full screen but aligns to the top */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff; /* Light grey common for Admin Dashboards */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

#root {
  width: 100%;
}
